.content-form{
    margin-top: 30px;
    margin-right: 30px;
    padding: 10px;
    //border: 1px solid black;
    & label{
        margin-top: 5px;
        display: block;
    }
    & input {
        margin-top: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    & button{
        margin-top: 20px;
        display: block;
        height: 20px;
        width: 100%;
        border: none;
        background-color: teal;
        color: white;
    }
}
