.content-btn{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.btn{
    width: 90%;
    height: 50px;
    background-color: teal;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
}